.footer {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;  
}
.footer__list {
    display: flex;
    
}
.footer__link {
    justify-content: flex-start;
    margin-left: 94px;
    margin-top: 15px;
}
.footer__web {
    color: var(--primary-link-color);
}
.footer__logo {
    color: #FFFFFF;
    display: block;
    margin-bottom: 28px;
}
.address__list li + li {
    margin-top: 12px;
}

.address__name {
    color: #FFFFFF;
}
.address__color {
    color: rgba(255, 255, 255, 0.6);
}

.directions__list {
    @extend %flex-align;
    justify-content: center;
    margin-top: 20px; 
}
.footer__title {
    @include font(700, 14px, 1.14, 0.03em);
    text-transform: uppercase;
    color: #FFFFFF;
    display: flex;

}
.directions__items {
    width: 44px;
    height: 44px;
}
.directions__items:not(:last-child) {
    margin-right: 10px;
}
.directions__link {
    width: 100%;
    height: 100%;
    fill: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    justify-content: center;
    @extend %flex-align;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus {
        fill: #FFFFFF;
        background-color: #2196F3;
    }
}



