.header {
    @include font(500, 14px, 1.14, 0.02em);
}

header .container {
    @extend %flex-align;
    height: 60px;

    @include tablet {
        height: 80px;
      }

      @include desktop {
        height: 80px;
      }  
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 60px;
}

.web {
    color: var(--primary-link-color);
}
.header__logo {
    color: #212121;
    margin-right: 87px;

    @media screen and (min-width: 1200px) {
        .header__logo {
          margin-right: 92px;
        }
}
}

@media screen and (max-width: 767px) {
    .navigation {
      display: none;
    }
  }

.navigation-list {
    display: flex;
}

.navigation-list li + li {
    margin-left: 50px;
}

.navigation__link {
    color: var(--primary-header-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--primary-link-color);
    }
}
.navigation__link--color {
    color: var(--primary-link-color);
    position: relative;

    &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    top: 45px;
    background: #2196F3;
    border-radius: 2px;
    }
}


.navigation-contacts__list {
    // margin-left: auto; 
    // @extend %flex-align;
    // gap: 40px;
    
    @media screen and (max-width: 767px) {
        display: none;
      }
    
      @include desktop {
        display: flex;
        align-items: center;
        justify-content: center;;
      }
    }

.navigation-contacts__item:not(:last-child) {
    margin-bottom: 10px;

    @include desktop {
      margin-right: 30px;
      margin-bottom: 0;
    }
  }


.navigation-contacts__link {
    display: flex;
    align-items: center;
    color: #757575;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: gettransition(color);
    text-decoration: none;

  &:hover,
  &:focus {
    color: #2196F3;
  }

  @include desktop {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }

}

.navigation-contacts__icon {
    fill: currentColor;
    margin-right: 10px;
}

