
.subscribe-form {
    @include desktop {
        display: flex;
        align-items: center;
        justify-content: center;
    }
  }
  
  .subscribe__heading {
    margin-bottom: 20px;
    @include font(700, 16px, 1.14, 0.03em);
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;

    @include desktop {
      text-align: left;
    }
  }
  
  .subscribe-form__input {
    width: 100%;
    display: inline-block;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.6);
    background-color: transparent;
  
   ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(255, 255, 255, 0.6);
    opacity: 1; /* Firefox */
    }
  
    @include tablet {
      max-width: 450px;
    }
  
    @include desktop {
      margin-right: 12px;
      margin-bottom: 0;
      width: 358px;
    }
  }
  
  .subscribe-form__button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    transition: gettransition(background-color);
  
    &:hover,
    &:focus {
      background-color: #188ce8;
    }
  }
  
  .subscribe-form__icon {
    display: inline-block;
    margin-left: 10px;
    width: 24px;
    height: 24px;
    fill: currentColor;
  }






